<div class="container .container-fluid">
  <form>
    <fieldset class ="form-group " id="blogForm">
      <div id="nameBlog">
        <label for="nameInput">Enter your name</label>
        <input type="text" class="form-control" id="nameInput " placeholder="Enter your name"/>
      </div>
      <div id="textAreaBlog">
       <label for="blogField">Blog</label>
       <textarea class="form-control" id="blogField" rows="10"></textarea>

     </div>
    </fieldset>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>
